<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>お申し込み情報の確認</title>

</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment">
                        <h1 class="ui aligned header teal">お申込み情報</h1>

                        <form class="ui form" method="post" action="/cardOrder/">

                            <div>
                                <label>お名前(漢字)</label>
                                <input type="text" name="kanjiName" th:value="${form.kanjiName}">
                            </div>
                            <div>
                                <label>お名前(カナ)</label>
                                <input type="text" name="kanaName" th:value="${form.kanaName}">
                            </div>
                            <div>
                                <label>お名前(ローマ)</label>
                                <input type="text" name="alphabetName" th:value="${form.alphabetName}">
                            </div>
                            <div>
                                <label>性別</label>
                                <input type="text" name="gender" th:value="${form.gender}">
                            </div>
                            <div>
                                <label>生年月日</label>
                                <input type="text" name="dateOfBirth" th:value="${form.dateOfBirth}">
                            </div>
                            <div>
                                <label>郵便番号</label>
                                <input type="text" name="zipCode" th:value="${form.zipCode}">
                            </div>
                            <div>
                                <label>ご住所</label>
                                <input type="text" name="address" th:value="${form.address}">
                            </div>
                            <div>
                                <label>自宅電話番号</label>
                                <input type="text" name="homePhoneNumber" th:value="${form.homePhoneNumber}">
                            </div>
                            <div>
                                <label>携帯電話番号</label>
                                <input type="text" name="mobilePhoneNumber" th:value="${form.mobilePhoneNumber}">
                            </div>
                            <div>
                                <label>メールアドレス</label>
                                <input type="text" name="emailAddress" th:value="${form.emailAddress}">
                            </div>
                            <div>
                                <label>配偶者有無</label>
                                <input type="text" name="spouse" th:value="${form.spouse}">
                            </div>
                            <div>
                                <label>お住まい</label>
                                <input type="text" name="houseClassification" th:value="${form.houseClassification}">
                            </div>
                            <div>
                                <label>ローンのお借入金額</label>
                                <input type="text" name="debt" th:value="${form.debt}"><span class="unit">万円</span>
                            </div>
                            <div>
                                <label>昨年の所得</label>
                                <input type="text" name=income th:value="${form.income}"><span class="unit">万円</span>
                            </div>
                            <div>
                                <label>ご職業</label>
                                <input type="text" name="job" th:value="${form.job}">
                            </div>

                            <div th:if="{${form.job}!='学生' || ${form.job}!='主婦'}||${form.job}!='年金受給者の方'||${form.job}!='パート・アルバイト'||${form.job}!='その他(無職)'">
                                <div>
                                    <label>お勤め先名</label>
                                    <input type="text" name="employerName" th:value="${form.employerName}">
                                </div>
                                <div>
                                    <label>お勤め先名郵便番号</label>
                                    <input type="text" name="employerZipCode" th:value="${form.employerZipCode}">
                                </div>
                                <div>
                                    <label>お勤め先住所</label>
                                    <input type="text" name="employerAddress" th:value="${form.employerAddress}">
                                </div>
                                <div>
                                    <label>業種</label>
                                    <input type="text" name="industryType" th:value="${form.industryType}">
                                </div>
                                <div>
                                    <label>資本金</label>
                                    <input type="text" name="capital" th:value="${form.capital}">
                                </div>
                                <div>
                                    <label>お勤め先の規模(従業員数)</label>
                                    <input type="text" name="companySize" th:value="${form.companySize}">
                                </div>
                                <div>
                                    <label>部署</label>
                                    <input type="text" name="department" th:value="${form.department}">
                                </div>
                                <div>
                                    <label>役職</label>
                                    <input type="text" name="position" th:value="${form.position}">
                                </div>
                                <div>
                                    <label>勤続年数</label>
                                    <input type="text" name="employeeLength" th:value="${form.employeeLength}"/>
                                </div>
                            </div>

                            <div class="ui column grid">
                                <div class="eight wide column left aligned">

                                    <!--/*戻る場合、formの送り先を強制的に書き換える*/-->
                                    <button class="ui button angle left icon"
                                            onclick="form.action='/cardOrder/modify';return true">情報を修正する
                                    </button>
                                </div>
                                <div class="eight wide column right aligned">
                                    <button class="ui teal button angle right icon">確定</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

